{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": {
					"version": 3
				}
			}
		]
	],
	"plugins": [
		"add-react-displayname"
	]
}
