#downloader, #uploader, #screen-recorder { align-self: center; }

#downloader, #ready-queue { display: grid; }

#uploader, #screen-recorder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* ---- DOWNLOADER AND UPLOADER -------- */

#downloader {
	grid-template-rows: min-content min-content;
	grid-template-rows: min-content min-content;
	gap: 12px 6px;
	grid-row: 2;
}

#downloader > input[type="text"] { grid-column: span 2; }

#downloader > input[type="text"]::placeholder {
	color: var(--primary);
}

#downloader > button { grid-row: 2; }

#downloader > span {
	align-content: center;
	font-weight: 500;
	font-size: 12px;
}

#uploader {
	position: relative;
	grid-row: 3;
	height: 100%;
	min-height: 110px;
	border: var(--main-border-style);
	border-radius: 5px;
	background-color: var(--background);
	transition: background-color 150ms;
}

#uploader:is(::before, ::after) {
	content: '';
	pointer-events: none;
	position: absolute;
	background-color: inherit;
}

#uploader::before {
	width: calc(100% + 4px);
	height: calc(100% - 50px);
}

#uploader::after {
	width: calc(100% - 50px);
	height: calc(100% + 4px);
}

#uploader:is(.drag-enter, :active),
body.accessible #uploader:focus-within {
	background-color: var(--primary);
	color: var(--background);
}

#uploader > p { z-index: 2 }

#uploader > div {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
}


/* ---- SCREEN RECORDER -------- */

#screen-recorder {
	grid-template-rows: repeat(5, min-content);
	justify-items: center;
	grid-row: 4;
}

#screen-recorder > div:not(#record-source-selector) {
	width: 132px;
}

#screen-recorder > div:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

#screen-recorder svg { pointer-events: none; }

button[name="record"] {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--primary);
}

button[name="record"]:disabled {
	background-color: var(--button-disabled);
}

button[name="record"]:enabled:hover {
	background-color: var(--secondary);
}

button[name="record"]::after {
	content: '';
	display: inherit;
	position: absolute;
	top: 12px;
	left: 12px;
	width: 26px;
	height: 26px;
	border-radius: inherit;
	background-color: var(--background);
}

button[name="record"].blink::after {
	background-color: var(--record-light);
}

button[name="screenshot"] { height: 26px; }

.screen-recorder-timer {
	display: inherit;
	gap: 0 1px;
	align-items: center;
	white-space: nowrap;
}

.screen-recorder-timer > input[type="text"] {
	width: 82px;
	border-radius: 0;
	vertical-align: -1px;
}

#screen-recorder a {
	font-size: 10px;
	margin-top: 10px;
}

#screen-recorder a:hover {
	cursor: pointer;
	text-decoration: underline;
}


/* ---- RECORD SOURCE SELECTOR -------- */

@keyframes modal-fade-in {
	0% { background-color: var(--overlay-fade-in); }
	100% { background-color: var(--overlay); }
}

@keyframes modal-fade-out {
	0% { background-color: var(--overlay); }
	100% { background-color: var(--overlay-fade-in); }
}

@keyframes reveal-source-select {
	0% {
		width: 50px;
		height: 50px;
	}
	50% {
		width: 304px;
		height: 50px;
	}
	100% {
		width: 304px;
		height: 500px;
	}
}

@keyframes close-source-select {
	0% {
		width: 304px;
		height: 500px;
	}
	100% {
		width: 50px;
		height: 50px;
	}
}

#record-source-selector {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	animation: modal-fade-in 250ms both;
}

#record-source-selector.close {
	animation: modal-fade-out 250ms both;
}

#record-source-selector > div {
	overflow-y: auto;
	position: absolute;
	bottom: 84px;
	left: 147px;
	border: 12px solid var(--primary);
	border-radius: 25px;
	background-color: var(--background);
	color: var(--primary);
	font-weight: 500;
	animation: reveal-source-select 500ms both;
}

#record-source-selector.close > div {
	animation: close-source-select 250ms both;
}

#record-source-selector h2 {
	position: sticky;
	top: 0;
	padding: 12px 0;
	background-color: inherit;
	text-align: center;
}

#record-source-selector h2 > button {
	position: absolute;
	top: 0;
	left: 0;
}

#record-source-selector > div > button {
	width: 100%;
	padding: 12px 6px 6px;
}

#record-source-selector > div > button:hover {
	background-color: var(--background-alt-1);
}

#record-source-selector :is(img, span) {
	display: block;
	max-width: 100%;
}

#record-source-selector img {
	max-height: 144px;
	margin: 0 auto 6px;
	object-fit: contain;
	object-position: center;
}

#record-source-selector span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/* ---- READY QUEUE -------- */

#ready-queue {
	grid-template-rows: auto min-content;
	grid-column: 2;
	gap: 18px;
	grid-row: span 4;
	height: 100%;
}

#ready-queue > div:first-of-type {
	overflow-y: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 12px;
	border-radius: 5px;
	background-color: var(--background-alt-1);
	transition: background-color 250ms;
}

#ready-queue > div.populated { background-color: var(--background-alt-2); }

#ready-queue .insert-last { flex: 1; }

#ready-queue > div:last-of-type {
	grid-row: 2;
	white-space: nowrap;
}

button[title="Stop Stream"] { font-size: 20px; }

button[title="Stop Stream"]:active { color: #0cf700; }
