/* ---- MEDIA MANAGER -------- */

#media-manager {
	display: grid;
	grid-column: 1;
	grid-row: 2 / span 3;
	grid-template-rows: minmax(auto, min-content) min-content auto min-content;
	grid-gap: 9px;
	height: 100%;
}

#media-manager > div { overflow-y: hidden; }

#media-manager > div:nth-last-of-type(n+2),
details {
	position: relative;
	border-radius: 5px;
	background-color: var(--background-alt-1);
}

#media-selector {
	display: inherit;
	grid-auto-rows: min-content auto min-content;
	padding: 9px;
}

#media-selector > div:matches(:first-child, :nth-child(2)){ font-size: 12px; }

#media-selector > div:first-child {
	display: inherit;
	grid-template-columns: min-content auto;
	grid-template-rows: 14px auto;
	grid-gap: 3px 9px;
}

#media-selector h2,
.batch-item > button:first-of-type {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#media-selector img {
	grid-row: 1 / span 2;
	width: 140px;
	height: 79px;
	border-radius: 5px;
	background-color: var(--primary);
	object-fit: contain;
}

#media-selector > div:nth-of-type(2) {
	overflow-y: auto;
	position: relative;
	padding: 10px 0; /* using padding instead of grid-grid gap so drag and drop markers are visible */
}

.batch-item {
	display: grid;
	grid-template-columns: min-content auto min-content;
	position: inherit;
	border-radius: 5px;
	background-color: var(--background);
}

.batch-item:not(.selected):hover {
	background-color: var(--background-alt-2);
}

.selected {
	background-color: var(--primary);
	color: var(--background);
}

.batch-item > button:first-of-type {
	text-align: left;
	font-weight: 600;
}

#media-selector > div:nth-child(3) {
	padding: 0 9px;
	font-weight: 600;
	text-align: right;
}


/* ---- DROPDOWN MENU -------- */

.dropdown {
	z-index: 998;
	font-size: 12px;
	vertical-align: middle;
}

.dropdown:focus-within {
	z-index: 999;
}

details .dropdown {
	position: absolute;
	top: 0;
	right: 0;
}

.dropdown > span {
	display: block;
	position: fixed;
	margin-top: 3px;
	padding: 5px 0;
	border-radius: 5px;
	box-shadow: 0 0 3px var(--primary);
	background-color: var(--background);
	color: var(--primary);
	font-weight: 600;
}

details .dropdown > button {
	padding: 13px;
	padding-bottom: 0;
}

details .dropdown > span {
	transform: translateX(calc(-100% + 24px));
}

.dropdown > span > button {
	display: inherit;
	width: 100%;
	padding: 3px 9px;
	text-align: left;
	white-space: nowrap;
}

.dropdown > span > button:hover {
	background-color: var(--secondary);
	color: var(--background);
}

.spacer {
	display: inherit;
	height: 1px;
	margin: 5px;
	background-color: var(--background-alt-2);
}

.spacer:matches(:first-child, :last-child),
.spacer + .spacer {
	display: none;
}


/* ---- BATCH NAME AND SAVE OPTIONS -------- */

#batch-name,
#save-options {
	display: inherit;
	grid-gap: 6px;
	padding: 9px 12px;
}

:matches(#batch-name, #save-options) > h2::after { content: ':' }

#batch-name input[type="text"] { margin-bottom: 6px; }
#batch-name label { font-size: 12px;  }
#batch-name label:nth-last-of-type(n+2) { margin-right: 12px; }

#save-options { grid-template-rows: min-content auto; }
#save-options > div { overflow-y: auto; }
#save-options > fieldset { max-width: 100%; }

#save-options label {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	margin-bottom: 6px;
	font-size: 14px;
}

#save {
	grid-row: 4;
	padding-top: 9px;
}


/* ---- EDITOR -------- */

#editor {
	display: grid;
	grid-column: 2;
	grid-template-rows: min-content auto;
	grid-row: 1 / span 4;
	height: 100%;
}

details:focus-within { z-index: 999; }

summary { padding: 9px; }

details[open] > summary { padding-bottom: 0; }

summary::-webkit-details-marker { display: none; }

summary::before {
  content: 'keyboard_arrow_right';
  font: 600 1.25rem 'Material Icons';
  vertical-align: -5px;
}

details[open] > summary::before { content: 'keyboard_arrow_down'; }

details[open] > div { padding-top: 9px; }

#editor-options { overflow-y: auto; }

#editor-options > details:nth-last-child(n+2) { margin-bottom: 9px; }

#editor-options > details[open] {
	overflow: visible;
	padding-bottom: 9px;
}

#editor-options > details > div { margin: 0 18px 0 27px; }

legend {
	white-space: nowrap;
	font-size: 14px;
}

details label { font-size: 12px; }

#file label {
	font-weight: 600;
	font-size: 14px;
}

input:matches([name="filename"], [name="sourceName"]) { margin-bottom: 9px; }

.auto-columns {
	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	grid-gap: 9px;
}

.auto-columns label {
	display: block;
	margin: 3px;
}

.panel-input {
	padding:  2px 2px 0 2px;
	border-radius: 3px;
	background-color: var(--background);
}

.panel-input[type="number"] {
	height: 18px;
	width: 44px;
	font-size: 12px;
}


/* ---- SLIDER STYLES ---- */

.single-slider-grid,
.double-slider-grid,
.timecode-slider-grid,
.split-grid {
	display: grid;
	grid-auto-rows: auto;
	align-items: center;
}

.single-slider-grid,
.double-slider-grid {
	font-size: 12px;
}

.single-slider-grid {
	grid-template-columns: min-content auto repeat(4, min-content);
}

.single-slider-grid > input:first-of-type ~ :matches(label, span, input, button:not([name^="link"])),
.double-slider-grid > button:first-of-type ~ :matches(label, span, input, button) {
	grid-row: 2;
}

button[name^="link"] {
	display: inherit;
	align-items: center;
	margin-left: 3px;
}

button[name^="link"] > svg { pointer-events: none; }

.single-slider-grid > button[name^="link"] {
	grid-row: 1 / span 2;
	height: 100%;
}

.single-slider-grid > .slider { grid-column: 2; }

.single-slider-grid > button:not(:last-child) { margin-right: 5px; }

button[title$=" to Width"] { transform: rotate(90deg); }

.double-slider-grid {
	grid-template-columns: repeat(2, min-content) auto repeat(3, min-content);
}

.double-slider-grid > label:nth-of-type(odd) { margin-right: 5px; }
.double-slider-grid > label:nth-of-type(even) { margin-left: 5px; }

.timecode-slider-grid {
	grid-template-columns: 35px min-content auto min-content 35px;
	grid-gap: 0 6px;
	margin-top: 6px;
}

.timecode-slider-grid > label { justify-self: center; }

.timecode-slider-grid > input { width: 104px; }

.timecode-slider-grid > input:last-of-type { grid-column: 4; }

.timecode-slider-grid > .slider {
	grid-column: 1 / span 5;
	grid-row: 2;
}

.slider, .slider span { display: block; }

.slider, .slider-track { width: 100%; }

.slider {
	position: relative;
	height: 24px;
	padding: 0 12px;
}

.slider-track,
.slider-track > span {
	top: 50%;
}

.slider-track {
	position: inherit;
	z-index: 2;
	height: 8px;
	border-radius: 3px;
	background-color: var(--primary);
	transform: translateY(-50%);
}

.slider-track > span {
	position: absolute;
	height: 18px; 
	background-color: var(--secondary);
}

.slider-track.single > span {
	width: 18px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.slider-track.double > span:nth-child(odd) {
	z-index: 2;
	width: 12px;
	border: 6px solid var(--secondary);
	border-radius: 2px;
	background-color: transparent;
}

.slider-track.double > span:first-child {
	border-left-color: transparent;
	transform: translate(-100%, -50%);
}

.slider-track.double > span:last-child {
	left: 100%;
	border-right-color: transparent;
	transform: translateY(-50%);
}

.slider-track.double > span:nth-child(2) {
	top: 0;
	height: inherit;
/* create 2px underlap with slider heads to avoid gaps */
	box-sizing: content-box;
	margin: 0 -2px;
	border: solid var(--secondary);
	border-width: 0 2px;
}

.snap-markers,
.snap-markers > span {
	width: 100%;
	height: 100%;
}

.snap-markers,
.snap-markers > :matches(span::after, span > span) {
	position: absolute;
}

.snap-markers {
	pointer-events: none;
	top: 0;
	left: 0;
	padding-left: inherit;
	padding-right: inherit;
}

.snap-markers > span { position: relative; }

.snap-markers > span::after {
	content: '';
	top: 50%;
	width: calc(100% + 4px);
	margin-left: -2px;
	height: 70%;
	background-color: var(--background-alt-1);
	transform: translateY(-50%);
}

.snap-markers > span > span {
	top: inherit;
	width: 1px;
	height: inherit;
	background-color: var(--primary);
	transform: translateX(-50%);
}

.split-grid {
	grid-template-columns: 35px repeat(2, min-content);
	grid-gap: 0 6px;
	margin-top: 6px;
}

.split-grid > input { width: 78px; }


/* ---- RENDER QUEUE -------- */

#render-queue {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(238,238,238,0.9);
}

#render-queue > div,
.render-element {
	border: var(--main-border-style);
	border-radius: 5px;
}

#render-queue > div {
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr min-content;
	width: calc(100% - 100px);
	height: min-content;
	max-height: calc(100% - 100px);
	margin: auto;
}

#render-queue > div > div { padding: 9px; }

#render-queue > div > div:first-child {
	overflow-y: auto;
	display: inherit;
	grid-auto-rows: min-content;
	grid-gap: 9px;
	padding-bottom: 0;
}

#render-queue .media-element {
	margin-bottom: 0;
	box-sizing: content-box;
	border: var(--main-border-style);
}
