/* ---- MEDIA MANAGER -------- */

#media-manager {
	display: grid;
	grid-column: 1;
	grid-row: 2 / span 3;
	grid-template-rows: minmax(auto, min-content) min-content auto min-content;
	grid-gap: 9px;
	height: 100%;
}

#media-manager > div { overflow-y: hidden; }

.formatting-options-panel {
	position: relative;
	border-radius: 5px;
	background-color: var(--background-alt-1);
}

#media-selector {
	display: inherit;
	grid-auto-rows: min-content auto min-content;
	padding: 9px;
}

#media-selector > div:is(:first-child, :nth-child(2)){ font-size: 12px; }

#media-selector > div:first-child {
	display: inherit;
	grid-template-columns: min-content auto;
	grid-template-rows: 14px auto;
	grid-gap: 3px 9px;
}

#media-selector h2,
.batch-item > button:first-of-type {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#media-selector img {
	grid-row: 1 / span 2;
	width: 140px;
	aspect-ratio: 16 / 9;
	border-radius: 5px;
	background-color: var(--thumbnail-background);
	object-fit: contain;
}

#media-selector > div:nth-of-type(2) {
	overflow-y: auto;
	position: relative;
	padding: 10px 0; /* using padding instead of grid-grid gap so drag and drop markers are visible */
}

.batch-item {
	display: grid;
	grid-template-columns: min-content auto min-content;
	position: inherit;
	border-radius: 5px;
	background-color: var(--background);
}

.batch-item:not(.selected):hover {
	background-color: var(--background-alt-2);
}

.selected {
	background-color: var(--primary);
	color: var(--background);
}

.batch-item > button:first-of-type {
	text-align: left;
	font-weight: 500;
}

#media-selector > div:nth-child(3) {
	padding: 0 9px;
	font-weight: 500;
	text-align: right;
}


/* ---- DROPDOWN MENU -------- */

.dropdown {
	z-index: 998;
	height: inherit;
	font-size: 12px;
	vertical-align: middle;
}

.dropdown:focus-within {
	z-index: 999;
}

.dropdown > button { height: inherit; }

.dropdown > span {
	display: block;
	position: fixed;
	margin-top: 3px;
	padding: 5px 0;
	border-radius: 5px;
	box-shadow: 0 0 3px var(--primary);
	background-color: var(--background);
	color: var(--primary);
	font-weight: 500;
}

.accordion .dropdown > span {
	transform: translateX(calc(-100% + 24px));
}

#preview .dropdown > span {
	background-color: var(--preview-background);
	color: var(--preview-text);
}

#editor-options .accordion .dropdown > button {
	padding: 0 13px;
}

.dropdown > span > button {
	display: inherit;
	width: 100%;
	padding: 3px 9px;
	text-align: left;
	white-space: nowrap;
}

.dropdown > span > button:hover {
	background-color: var(--secondary);
	color: var(--background);
}

.spacer {
	display: inherit;
	height: 1px;
	margin: 5px;
	background-color: var(--background-alt-2);
}

.spacer:is(:first-child, :last-child),
.spacer + .spacer {
	display: none;
}


/* ---- BATCH NAME AND SAVE OPTIONS -------- */

#batch-name,
#save-options {
	display: inherit;
	grid-gap: 6px;
	padding: 9px 12px;
}

#batch-name input[type="text"] { margin-bottom: 6px; }
#batch-name label { font-size: 12px;  }
#batch-name label:nth-last-of-type(n+2) { margin-right: 12px; }

#save-options { grid-template-rows: min-content auto; }
#save-options > div { overflow-y: auto; }
#save-options > fieldset { max-width: 100%; }

#save-options label {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	margin-bottom: 6px;
	font-size: 14px;
}

#save {
	grid-row: 4;
	padding-top: 9px;
}


/* ---- EDITOR -------- */

#editor {
	display: grid;
	grid-column: 2;
	grid-template-rows: min-content auto;
	grid-row: 1 / span 4;
	height: 100%;
}

.accordion:focus-within { z-index: 999; }

.accordion > h2 {
	position: inherit;
	display: flex;
	height: 37px;
}

.accordion > h2 > button {
	flex: 1;
	height: inherit;
	padding: 9px;
	text-align: left;
}

.accordion > h2 > button > span {
  font: 600 1.25rem 'Material Icons';
  vertical-align: -5px;
}

#editor-options {
	overflow-y: auto;
	position: relative;
}

#editor-options > .accordion:nth-last-child(n+2) { margin-bottom: 9px; }

/* -- All Editor Panels -- */

.editor-options {
	display: grid;
	margin: 0 18px 0 27px;
	padding-bottom: 12px;
	font-size: 12px;
}

.editor-options legend {
	white-space: nowrap;
	font-size: 14px;
}

.editor-option-column > label {
	display: block;
	margin: 3px;
}

.editor-options input[type="text"] {
	font-size: 16px;
	margin-bottom: 9px;
}

.editor-options input[type="number"],
.editor-options input[type="color"] {
	height: 18px;
	width: 42px;
}

button[name^="link"] {
	display: inherit;
	align-items: center;
	margin-left: 3px;
}

button[name^="link"] > svg { pointer-events: none; }

.auto-rows {
	grid-auto-rows: min-content;
	align-items: center;
}

.auto-columns {
	display: flex;
	grid-gap: 0 9px;
}

.auto-columns > :last-child { flex: 1; }

/* -- File Panel -- */

.timecode-slider-grid,
.split-grid {
	display: inherit;
	grid-gap: 0 6px;
	align-items: center;
	margin-top: 6px;
}

:is(.timecode-slider-grid, .split-grid) > label {
	font-size: 14px;
	font-weight: 500;
}

:is(.timecode-slider-grid, .split-grid) > input[type="text"] { margin-bottom: 0; }

.timecode-slider-grid {
	grid-template-columns: 35px min-content auto min-content 35px;
	grid-gap: 0 6px;
}

.timecode-slider-grid > input[type="text"] { width: 112px; }

.timecode-slider-grid > input:last-of-type { grid-column: 4; }

.timecode-slider-grid > .slider {
	grid-column: 1 / span 5;
	grid-row: 2;
}

.split-grid {
	grid-template-columns: 35px min-content 35px;
	justify-content: center;
}

/* -- Formatting Panel -- */

#formatting {
	grid-template-columns: repeat(3, min-content);
	grid-template-rows: repeat(2, min-content);
	grid-gap: 9px;
	container: formatting-panel / inline-size;
}


#formatting > fieldset:nth-of-type(2) { /* background column */
	grid-column: 2;
	grid-row: 1 / span 2;
}

#formatting > fieldset:nth-of-type(3) { /* motion column */
	grid-column: 1;
	grid-row: 2;
	align-self: flex-end;
}

@container formatting-panel (min-width: 400px) {
	#formatting {
		grid-template-columns: repeat(4, min-content);
	}

	#formatting > fieldset:nth-of-type(2) { /* background column */
		grid-column: 2;
	}

	#formatting > fieldset:nth-of-type(3) { /* motion column */
		grid-column: 3;
		grid-row: 1;
		align-self: flex-start;
	}

	#formatting > fieldset:nth-of-type(4) { /* overlay column */
		grid-column: 4;
	}
}

/* -- Position Panel -- */

#position, #centering {
	grid-template-columns: min-content auto min-content;
}

:is(#position, #centering) > .slider { grid-column: 2; }

/* -- Scale Panel -- */

#scale {
	grid-template-columns: min-content auto repeat(3, min-content);
}

#scale > .slider { grid-column: 2; }

#scale > .app-button { margin-right: 5px; }

#scale > .app-button:first-of-type { transform: rotate(90deg); }

button[name="link"] {
	grid-column: 5;
	grid-row: 1 / span 2;
	height: 100%;
}

/* -- Crop Panel -- */

#crop {
	grid-template-columns: repeat(2, min-content) auto repeat(3, min-content);
}

#crop > .slider { grid-column: 3; }

#crop > label:nth-of-type(odd) { margin-right: 5px; }
#crop > label:nth-of-type(even) { margin-left: 5px; }

/* -- Rotation Panel -- */

.offset-grid {
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
}

/* -- Key Panel -- */

#keying {
  grid-template-columns: repeat(2, min-content) auto;
  grid-gap: 9px 18px;
  align-items: flex-start;
}

.on-off-switch { align-self: center; }

.on-off-switch > span {
	display: inline-block;
	transform: rotate(270deg);
}

#key-color {
	display: block;
	font-size: 14px;
  font-weight: 500;
	margin-bottom: 3px;
}

.color-sliders-panel,
.color-sliders-panel > label {
  grid-column: 1 / -1;
}

.color-sliders-panel {
  display: inherit;
  grid-template-columns: auto min-content;
  align-items: center;
}

/* -- Color Correction Panel -- */

#color-correction {
	grid-template-columns: repeat(2, min-content);
	grid-template-rows: repeat(3, min-content);
	grid-gap: 6px;
  align-items: flex-start;
}

#color-correction > .on-off-switch { grid-row: 2; }

#color-correction > :is(div:first-of-type, fieldset) {
	display: inherit;
	justify-items: center;
}

#color-correction > div { grid-row: 2; }

#color-correction > div:first-of-type {
	grid-auto-rows: 36px;
	grid-gap: 6px;
	align-items: center;
	align-content: center;
	height: 100%;
}

#color-correction button {
	width: 36px;
	height: 36px;
	padding: 6px;
	border-radius: 5px;
}

#color-correction button:disabled { color: var(--disabled); }

button[title="Reset Curves"] {
	font-size: 20px;
	transform: rotateY(180deg); /* so the crossout line in icon matches curve direction */
}

button[title="Reset Curves"]:active { color: #fff; }

#color-correction > :is(fieldset, .curves, .slider) { grid-column: 2; }

#color-correction > fieldset {
	grid-template-columns: repeat(4, 1fr);
	font-weight: 500;
}

/* hide legend but keep for screen readers */
#color-correction > fieldset > legend { font-size: 0; }


/* ---- CURVES STYLES -------- */

.curves {
	display: grid;
	grid-template-columns: 6px 258px;
	grid-template-rows: 258px 6px;
}

.curves.disabled { pointer-events: none; }

.curves > span {
	display: block;
	pointer-events: none;
}

.curves > span:first-of-type {
	height: 256px;
	margin: 1px 0;
	background-image: linear-gradient(#fff, #000);
}

.curves > span:last-of-type {
	grid-row: 2;
	grid-column: 2;
	width: 256px;
	margin: 0 1px;
	background-image: linear-gradient(to left, #fff, #000);
}

.curves > canvas {
	cursor: crosshair;
	display: block;
	border: 1px solid var(--primary);
	background-color: #fff;
}

/* ---- COLOR PICKER -------- */

.eyedropper-btn:disabled { color: var(--disabled); }

.eyedropper-btn.eyedropper-active {
	background-color: var(--background-alt-2);
}

.color-picker {
  display: inline-grid;
  grid-auto-columns: min-content;
	grid-auto-flow: column;
  grid-gap: 0 6px;
	vertical-align: middle;
}

.color-picker > input[type="color"] { margin-left: 3px; }

.color-picker > button {
	width: 18px;
	height: 18px;
	border-radius: 3px;
}

.color-picker > button > svg {
	width: inherit;
	height: inherit;
}


/* ---- SLIDER STYLES ---- */

.slider, .slider span { display: block; }

.slider, .slider-track { width: 100%; }

.slider {
	position: relative;
	height: 24px;
	padding: 0 12px;
}

:is(.disabled, [disabled]) .slider { pointer-events: none; }

.slider-track,
.slider-track > span {
	top: 50%;
}

.slider-track {
	position: inherit;
	z-index: 2;
	height: 8px;
	border-radius: 3px;
	background-color: var(--button);
	transform: translateY(-50%);
}

:is(.disabled, [disabled]) .slider-track {
	background-color: var(--disabled);;
}

.slider-track > span {
	position: absolute;
	height: 18px; 
	background-color: var(--secondary);
}

:is(.disabled, [disabled]) .slider-track > span { visibility: hidden; }

.slider-track.single > span {
	width: 18px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.slider-track.double > span:is(:first-child, :last-child) {
	z-index: 2;
	width: 12px;
	border: 6px solid var(--secondary);
	border-radius: 2px;
	background-color: transparent;
}

.slider-track.double > span:is(:first-child, :last-child):focus { z-index: 3; }

.slider-track.double > span:first-child {
	border-left-color: transparent;
	transform: translate(-100%, -50%);
}

.slider-track.double > span:last-child {
	left: 100%;
	border-right-color: transparent;
	transform: translateY(-50%);
}

.slider-track.double > span:not(:first-child):not(:last-child) {
	top: 0;
	height: inherit;
/* create 2px underlap with slider heads to avoid gaps */
	box-sizing: content-box;
	margin: 0 -2px;
	border: solid var(--secondary);
	border-width: 0 2px;
}

.snap-markers,
.snap-markers > span {
	width: 100%;
	height: 100%;
}

.snap-markers,
.snap-markers > span::after,
.snap-marker {
	position: absolute;
}

.snap-markers {
	pointer-events: none;
	top: 0;
	left: 0;
	padding-left: inherit;
	padding-right: inherit;
}

.snap-markers > span { position: relative; }

.snap-markers > span::after {
	content: '';
	top: 50%;
	width: calc(100% + 4px);
	margin-left: -2px;
	height: 70%;
	background-color: var(--background-alt-1);
	transform: translateY(-50%);
}

.snap-marker {
	top: inherit;
	width: 1px;
	height: inherit;
	background-color: var(--primary);
	transform: translateX(-50%);
}

/* -- curves double slider overrides -- */

#color-correction > .slider {
	width: 256px;
	height: 14px;
	margin-left: 7px;
	padding: 0;
}

#color-correction .slider-track.double {
	top: 0; 
	height: inherit;
	background-color: transparent;
	transform: none;
}

#color-correction .slider-track.double > span {
	top: inherit;
	width: 14px;
	height: 14px;
	border: 0;
	transform: translateX(-50%);
}

#color-correction .slider-track.double > span::after {
	content: '';
	pointer-events: none;
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	border: 1px solid;
	transform: rotate(45deg);
}

#color-correction .slider-track.double > span:first-child::after {
	background-color: #000;
	border-color: transparent;
}

#color-correction .slider-track.double > span:last-child::after {
	background-color: #fff;
	border-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
	#color-correction .slider-track.double > span:first-child::after { border-color: var(--primary);; }
	#color-correction .slider-track.double > span:last-child::after { border-color: transparent; }
}


/* ---- RENDER QUEUE -------- */

#render-queue {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: var(--overlay);
}

#render-queue > div,
.render-element {
	border: var(--main-border-style);
	border-radius: 5px;
}

#render-queue > div {
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr min-content;
	width: calc(100% - 100px);
	height: min-content;
	max-height: calc(100% - 100px);
	margin: auto;
}

#render-queue > div > div { padding: 9px; }

#render-queue > div > div:first-child {
	overflow-y: auto;
	display: inherit;
	grid-auto-rows: min-content;
	grid-gap: 9px;
	padding-bottom: 0;
}

#render-queue .media-element {
	margin-bottom: 0;
	box-sizing: content-box;
	border: var(--main-border-style);
}
