#editor > details {
	margin-bottom: 9px;
	background-color: var(--preview-background);
	color: var(--preview-text);
}

#preview-container {
	position: relative;
	width: 384px;
	height: 216px;
	margin: auto;
}

#preview-container > :is(span, canvas) {
	width: inherit;
	height: inherit;
}

#preview-container > :is(span, canvas) {
	top: 0;
	left: 0;
}

#preview-container > span {
	display: block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#preview-container > :is(canvas, svg) {
	position: absolute;
}

#preview-container > canvas:last-of-type {
	pointer-events: none;
}

#preview-container > svg {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#preview-controls {
	display: grid;
	grid-template-columns: min-content auto;
	width: 100%;
	padding: 0 6px;
	font-size: 11px;
}

#preview-controls input {
	background-color: transparent;
	color: currentColor;
	font-weight: 600;
}

#preview-controls > div {
	display: flex;
	align-items: center;
}

#preview-controls > div:first-child { grid-column: span 2; }

#preview-controls .slider {
	height: 18px;
	padding: 0 3px;
}

#preview-controls .slider-track {
	height: 6px;
	background-color: var(--frame-selector-track);
}

#preview-controls .slider-track > span {
	width: 12px;
	height: 12px;
	background-color: currentColor;
}

#preview-controls .snap-markers > span::after { display: none; }

:is(.start-visible, .end-visible) .snap-marker {
	overflow: hidden;
	width: 6px;
	background-color: var(--preview-text);
	transform: none;
}

.start-visible .snap-marker:first-child {
	transform: translateX(-100%) rotateY(180deg);
}

:is(.start-visible, .end-visible) .snap-marker::after {
	content: '';
	position: inherit;
	width: 18px;
	height: 18px;
	background-color: var(--preview-background);
	transform: rotate(45deg);
}

#preview-controls button {
	height: inherit;
	height: 24px;
	min-width: 24px;
}

#preview-controls > div:last-child { justify-content: flex-end; }

button.ar-marker { padding: 0 3px; }

button.ar-marker > span {
	pointer-events: none;
	font-weight: 600;
	font-size: 10px;
}
