#editor > details {
	margin-bottom: 9px;
	background-color: var(--primary);
	color: var(--background);
}

#preview-container {
	position: relative;
	width: 384px;
	height: 216px;
	margin: auto;
}

#preview-container > :matches(span, canvas) {
	width: inherit;
	height: inherit;
}

#preview-container > :matches(span, canvas) {
	top: 0;
	left: 0;
}

#preview-container > span {
	display: block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#preview-container > :matches(canvas, svg) {
	position: absolute;
}

#preview-container > svg {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#preview-controls {
	display: grid;
	grid-template-rows: min-content 24px;
	grid-template-columns: min-content repeat(3, 24px) auto repeat(6, minmax(24px, min-content));
	width: 100%;
	padding: 0 6px;
	font-size: 11px;
}

#preview-controls > div { display: contents; }

#preview-controls :matches(input, .slider) { align-self: center; }

#preview-controls :matches(input, button, .preview-spacer) { grid-row: 2; }

#preview-controls input {
	background-color: transparent;
	color: currentColor;
	font-weight: 600;
}

#preview-controls .slider {
	grid-column: 1 / -1;
	height: 18px;
	padding: 0 3px;
}

#preview-controls .slider-track {
	height: 6px;
	background-color: var(--background-alt-2);
}

#preview-controls .slider-track > span {
	width: 12px;
	height: 12px;
	background-color: currentColor;
}

#preview-controls .snap-markers > span::after { display: none; }

:matches(.start-visible, .end-visible) .snap-marker {
	overflow: hidden;
	width: 6px;
	background-color: var(--background-alt-1);
	transform: none;
}

.start-visible .snap-marker:first-child {
	transform: translateX(-100%) rotateY(180deg);
}

:matches(.start-visible, .end-visible) .snap-marker::after {
	content: '';
	position: inherit;
	width: 18px;
	height: 18px;
	background-color: var(--primary);
	transform: rotate(45deg);
}

#preview-controls button {
	height: inherit;
	height: 24px;
	min-width: 24px;
}

button[name^="_"] { padding: 0 3px; }

button[name^="_"] > span {
	pointer-events: none;
	font-weight: 600;
	font-size: 10px;
	vertical-align: -2px;
}

button[name="_239"] { grid-column: 7; }
button[name="_185"] { grid-column: 8; }
button[name="_43"] { grid-column: 9; }
button[name="_11"] { grid-column: 10; }
button[name="_916"] { grid-column: 11; }
