/* --- FONT --- */

@font-face {
	font-family: Gotham;
	src: url('../font/Gotham-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gotham;
	src: url('../font/Gotham-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
	src: url('../font/materialicons-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cutive Mono';
	src: url('../font/CutiveMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* --- RESET --- */

*:where(:not(html, canvas, img, svg):not(svg *)) {
	all: unset;
	display: revert;
}

*, *::before, *::after {
	box-sizing: border-box;
	user-select: none;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

form { display: contents; }

h1, h2, h3, h4, h5, legend, th { font-weight: 500; }

ul { list-style-type: none; }

a, button { cursor: revert; }

a { -webkit-user-drag: none; }

button {
	display: block;
	text-align: center;
}

select { appearance: revert; }

svg:not([fill]) { fill: var(--primary); }

progress,
input:is([type="checkbox"], [type="radio"]),
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}

::-webkit-calendar-picker-indicator { display: none; }

[draggable] { -webkit-user-drag: element }

.accessible :focus-visible { outline: revert; }

/* --- VARIABLES --- */

:root {
	--background: #eee;
	--background-alt-1: #e0e0e0;
	--background-alt-2: #bbb;
	--primary: #4c4c4c;
	--secondary: #7c7c7c;
	--disabled: #ccc;
	--button: var(--primary); 
	--button-text: var(--background);
	--button-disabled: var(--disabled);
	--button-disabled-text: var(--button-text);
	--thumbnail-background: var(--primary);
	--preview-background: var(--primary);
	--preview-text: var(--background);
	--frame-selector-track: var(--background-alt-2);
	--overlay-fade-in: rgba(238, 238, 238, 0);
	--overlay: rgba(238, 238, 238, 0.5);
	--record-light: #ff4800;
	--scroll-thumb: var(--secondary);
	--main-border-style: 2px solid var(--primary);
	--font-stack: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #222;
		--background-alt-1: #333;
		--background-alt-2: #555;
		--primary: #eee;
		--disabled: #444;
		--button: var(--background-alt-2); 
		--button-text: var(--primary);
		--button-disabled: var(--background-alt-1);
		--button-disabled-text: var(--disabled);
		--thumbnail-background: var(--background);
		--preview-background: var(--background-alt-2);
		--preview-text: var(--primary);
		--frame-selector-track: var(--background-alt-1);
		--overlay-fade-in: rgba(68, 68, 68, 0);
		--overlay: rgba(68, 68, 68, 0.75);
		--scroll-thumb: var(--button);
	}
}

/* --- GLOBAL STYLES --- */

html, body, #root {
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--primary);
	font: 300 16px var(--font-stack);
}

#root { padding: 18px; }

/* --- INPUT WRAPPERS AND LABELS --- */

fieldset { position: relative; }

fieldset:disabled { color: var(--disabled); }

fieldset:disabled > :is(input, input::placeholder, div) { color: inherit; }

fieldset:disabled > :is(input, div) { border-color: var(--disabled); }

fieldset.bold-labels { font-weight: 500; }

fieldset.horizontal {
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	column-gap: 6px;
}

.radio-set {
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 3px;
}

.radio-set > label { font-size: 12px; }

legend, label { white-space: nowrap; }

legend {
	margin-bottom: 3px;
	font-size: 14px;
}

fieldset.hide-label > legend {
	position: absolute;
	pointer-events: none;
	font-size: 0;
}

label { width: min-content; }

.disabled label { color: var(--disabled); }

.label-with-input {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	column-gap: 5px;
}

.label-with-input :is(span, input) { vertical-align: middle; }

:not(.radio-set) > .label-with-input > span { font-weight: 500; }

label > :is(input[type="text"], input[type="number"], select) {
	font-weight: revert;
	vertical-align: baseline;
}

.panel {
	position: relative;
	border-radius: 5px;
	background-color: var(--background-alt-1);
}

/* --- INPUTS --- */

input, select {
	background-color: transparent;
	color: var(--primary);
}

:is(input:is([type="text"], [type="number"]), select):disabled { color: var(--disabled); }

:is(input[type="text"], select):is(.underline, .panel-input) {
	padding: 3px;
}

input[type="text"] { text-overflow: ellipsis; }

input[type="text"].panel-input { width: 100%; }

input[type="text"].underline {
	display: block;
	border-bottom: var(--main-border-style);
}

input[type="text"].timecode {
	width: 82px;
	height: 18px;
	padding: revert;
	text-align: center;
}

input:is([type="checkbox"], [type="radio"]) {
	overflow: hidden;
	width: 18px;
	height: 18px;
}

input:is([type="checkbox"], [type="radio"])::after {
	display: inline-block;
	font: 400 1.125rem 'Material Icons';
	width: 18px;
}

input:is([type="checkbox"], [type="radio"]):disabled::after {
	color: var(--disabled);
}

input[type="checkbox"]::after { content: 'check_box_outline_blank'; } 
input[type="checkbox"]:checked::after { content: 'check_box'; }

input[type="checkbox"].visibility::after { content: 'visibility'; } 
input[type="checkbox"].visibility:checked::after { content: 'visibility_off'; }

input[type="radio"]::after { content: 'radio_button_unchecked'; } 
input[type="radio"]:checked::after { content: 'radio_button_checked'; }

input[type="checkbox"].switch {	margin-right: -18px; }

input[type="checkbox"].switch::after { opacity: 0; }

input[type="color"] {
	width: 42px;
	height: 18px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border: var(--main-border-style);
	border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch { border: 0; }

input[type="color"]:disabled::-webkit-color-swatch-wrapper {
	border-color: var(--disabled);
}

input[type="color"]:disabled::-webkit-color-swatch { opacity: 0.25; }

.panel-input {
	padding: 2px;
	border-radius: 3px;
	background-color: var(--background);
}

/* --- BUTTONS --- */

.app-button, .symbol { padding: 6px; }

.app-button {
	background-color: var(--button);
	color: var(--button-text);
	border-radius: 5px;
	transition: background-color 250ms;
}

.app-button.small {
	width: 18px;
	height: 18px;
	padding: 0;
	border-radius: 3px;
}

.app-button:enabled:hover {
	background-color: var(--secondary);
}

.app-button:disabled {
	background-color: var(--button-disabled);
	color: var(--button-disabled-text);
}

.symbol,
.symbol-left > i {
	font-family: 'Material Icons';
}

.symbol-left {
	display: inline-grid;
	grid-template-columns: min-content max-content;
	justify-content: center;
	align-items: center;
	padding-inline: 8px 10px;
	column-gap: 6px;
}

svg.toggle-switch-disabled { fill: var(--disabled); }

svg.toggle-switch-disabled > .exclude-disabled { fill: var(--primary); }

.toggle-switch-switch { fill: var(--background); }

/* --- NAVIGATION TABS --- */

.tabbed-nav {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tabbed-nav > nav {
	display: grid;
}

.tabbed-nav > nav {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.tabbed-nav > nav > a {
	display: inherit;
	align-items: center;
	position: relative;
  padding: 9px;
	background-color: var(--background);
  font-weight: 500;
	text-align: center;
}

.tabbed-nav.rounded-tabs > nav > a { border-radius: 5px 5px 0 0; }
.tabbed-nav.rounded-tabs.no-rounded-edges > nav > a:first-child { border-top-left-radius: 0; }
.tabbed-nav.rounded-tabs.no-rounded-edges > nav > a:last-child { border-top-right-radius: 0; }

.tabbed-nav > nav > a.active,
.tabbed-nav > div {
	background-color: var(--background-alt-1);
}

.tabbed-nav > nav > a.active + a { border-bottom-left-radius: 5px; }
.tabbed-nav > nav > a:has(+ .active) { border-bottom-right-radius: 5px; }

.tabbed-nav > nav > :is(a.active + a, a:has(+ .active))::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	z-index: -1;
	width: 5px;
	height: 5px;
	background-color: var(--background-alt-1);
}

.tabbed-nav > nav > a.active + a::after { left: 0 }
.tabbed-nav > nav > a:has(+ .active)::after { right: 0;  }

.tabbed-nav > div,
.tabbed-nav > div > div {
	height: 100%;
}

.tabbed-nav > div {
	overflow: hidden;
  flex: 1;
	padding-block: 18px;
}

.tabbed-nav.rounded-tabs:not(.no-rounded-edges) > div { border-radius: 5px; }
.tabbed-nav.rounded-tabs:not(.no-rounded-edges):has(nav > a.active:first-child) > div { border-top-left-radius: 0; }
.tabbed-nav.rounded-tabs:not(.no-rounded-edges):has(nav > a.active:last-child) > div { border-top-right-radius: 0; }

.tabbed-nav > div > div {
	overflow: hidden scroll;
	padding-left: 12px;
	scrollbar-gutter: 12px;
}

.nav-panel-grid {
	display: grid;
	row-gap: 9px;
	align-content: start;
}

.nav-panel-flex {
	display: flex;
	flex-direction: column;
}

/* --- SORTABLE LIST --- */

.sortable-list {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	padding-top: 9px;
}

.sortable-list:last-child { flex: 1; }

.sortable-list > div { position: relative; }

.sortable-list-item {
	display: grid;
	grid-template-columns: minmax(6px, min-content) auto min-content;
	position: inherit;
	border-radius: 5px;
	background-color: var(--background);
	font-weight: 500;
	font-size: 12px;
}

.sortable-list-item.selected,
.sortable-list-item:not(.focused):hover {
	background-color: var(--background-alt-2);
}

.sortable-list-item:is(.selected, .focused) {
	color: var(--background);
}

.sortable-list-item.focused { background-color: var(--primary); }

.sortable-list-item > .popup-menu { order: 1; }

.sortable-list-item > button:nth-last-of-type(2) { text-align: left; }

button[name="select-selectable-item"] {
	order: 2;
	text-align: left;
}

button[name="remove-selectable-item"] { order: 3; }

.sortable-list-item > span {
	display: flex;
	align-items: center;
}

.insert-last {
	flex: 1;
	display: inherit;
	flex-direction: inherit;
	justify-content: center;
	align-items: center;
	min-height: 6px;
}

.insert::before {
	content: '';
	pointer-events: none;
	display: block;
	position: absolute;
	top: -9px;
	width: 100%;
	height: 12px;
	border: 5px solid;
	border-color: transparent var(--primary);
	background-color: var(--primary);
	background-clip: content-box;
}

/* ---- POPUP MENU -------- */

.popup-menu {
	display: block;
	height: inherit;
	font-size: 12px;
}

.popup-menu :is(span, button) { display: grid; }

.popup-menu-button-label {
	pointer-events: none;
}

:not(.submenu) > .popup-menu-button-label {
	height: 100%;
	justify-content: center;
	align-items: center;
}

.popup-menu-button-label > span { font-family: 'Material Icons'; }

.popup-menu-content {
	align-items: center;
	overflow-y: auto;
	position: fixed;
	z-index: 998;
	max-height: 100vh;
	margin: 3px 0;
	padding-block: 5px;
	border-radius: 5px;
	box-shadow: 0 0 3px var(--primary);
	background-color: var(--background);
	color: var(--primary);
	font-weight: 500;
}

.popup-menu-content:focus-within { z-index: 999; }

.submenu .popup-menu-content { margin: -5px 0; }

.popup-menu-content > :is(button, span[role~="button"]):hover {
	background-color: var(--secondary);
	color: var(--background);
}

.popup-menu-content > button,
.popup-menu-content .popup-menu-button-label {
	grid-template-columns: auto min-content;
	gap: 0 9px;
	padding: 3px 9px;
	white-space: nowrap;
	width: 100%;
}

.popup-menu-content > button { text-align: left; }

.popup-menu-content :is(kbd, .popup-menu-button-label > span) {
	text-align: right;
}

.spacer {
	display: block;
	position: relative;
	height: 1px;
	margin: 5px;
	background-color: var(--background-alt-2);
}

.spacer > span {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	padding-inline: 3px;
	background-color: var(--background);
	color: var(--background-alt-2);
	font-size: 8px;
}

/* --- MISC. --- */

hr {
	margin-block: 9px;
	border-top: 1px solid var(--background-alt-2);
}

.overlow-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.monospace {
	font: 400 1em 'Cutive Mono', 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

:is(main, div)::-webkit-scrollbar {
	width: 18px;
	height: 18px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb);
	border-radius: 5px;
}

:is(main, div)::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 10px;
} 

::-webkit-scrollbar-button { display: none; }
