/* --- FONT --- */

@font-face {
	font-family: Gotham;
	src: url('../font/Gotham-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gotham;
	src: url('../font/Gotham-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
	src: url('../font/materialicons-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cutive Mono';
	src: url('../font/CutiveMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* --- RESET --- */

*, *::before, *::after {
	box-sizing: border-box;
	user-select: none;
}

html, body, div, header, nav, main, section,
form, fieldset, legend, label, input,
table, thead, tbody, tr, th, td,
h1, h2, h3, h4, h5, img, p, ol, ul, li, button, a, address, span, q, i {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

form { display: contents; }

h1, h2, h3, h4, h5, legend, summary, th { font-weight: 500; }

ul { list-style-type: none; }

a { text-decoration: underline; }

a:link, a:visited, button { color: currentColor; }

a:hover { cursor: pointer; }

button {
	display: inline-block;
	background-color: transparent;
}

svg:not([fill]) { fill: var(--primary); }

progress,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}

::-webkit-calendar-picker-indicator { display: none; }


/* --- GLOBAL STYLES --- */

:root {
	--background: #eee;
	--background-alt-1: #e0e0e0;
	--background-alt-2: #bbb;
	--primary: #4c4c4c;
	--secondary: #7c7c7c;
	--disabled: #ccc;
	--button: var(--primary); 
	--button-text: var(--background);
	--button-disabled: var(--disabled);
	--button-disabled-text: var(--button-text);
	--thumbnail-background: var(--primary);
	--preview-background: var(--primary);
	--preview-text: var(--background);
	--frame-selector-track: var(--background-alt-2);
	--overlay-fade-in: rgba(238, 238, 238, 0);
	--overlay: rgba(238, 238, 238, 0.5);
	--record-light: #ff4800;
	--scroll-thumb: var(--secondary);
	--main-border-style: 2px solid var(--primary);
	--font-stack: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #222;
		--background-alt-1: #333;
		--background-alt-2: #555;
		--primary: #eee;
		--disabled: #444;
		--button: var(--background-alt-2); 
		--button-text: var(--primary);
		--button-disabled: var(--background-alt-1);
		--button-disabled-text: var(--disabled);
		--thumbnail-background: var(--background);
		--preview-background: var(--background-alt-2);
		--preview-text: var(--primary);
		--frame-selector-track: var(--background-alt-1);
		--overlay-fade-in: rgba(68, 68, 68, 0);
		--overlay: rgba(68, 68, 68, 0.75);
		--scroll-thumb: var(--button);
	}
}

html, body, #root {
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--primary);
	font: 300 16px var(--font-stack);
}

fieldset:disabled,
fieldset:disabled > :is(input, input::placeholder, div) {
	color: var(--disabled);
}

fieldset:disabled > :is(input, div) {
	border-color: var(--disabled);
}

input {
	background-color: transparent;
	color: var(--primary);
}

input.underline {
	display: block;
	width: 100%;
	padding: 3px 2px;
	border-bottom: var(--main-border-style);
}

input:is([type="text"], [type="number"]):disabled { color: var(--disabled); }

input[type="text"] { text-overflow: ellipsis; }

label > :is(input[type="checkbox"], input[type="radio"], svg) {
	margin-right: 5px;
}

input:is([type="checkbox"], [type="radio"]) {
	overflow: hidden;
	width: 18px;
	height: 18px;
}

input:is([type="checkbox"], [type="radio"])::after {
	display: inline-block;
	font: 400 1.125rem 'Material Icons';
	width: 18px;
}

input:is([type="checkbox"], [type="radio"]):disabled::after {
	color: var(--disabled);
}

input[type="checkbox"]::after { content: 'check_box_outline_blank'; } 
input[type="checkbox"]:checked::after { content: 'check_box'; }

input[type="checkbox"].visibility::after { content: 'visibility'; } 
input[type="checkbox"].visibility:checked::after { content: 'visibility_off'; }

input[type="radio"]::after { content: 'radio_button_unchecked'; } 
input[type="radio"]:checked::after { content: 'radio_button_checked'; }

input[type="checkbox"].switch {	margin-right: -18px; }

input[type="checkbox"].switch::after { opacity: 0; }

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border: var(--main-border-style);
	border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch { border: 0; }

input[type="color"]:disabled::-webkit-color-swatch-wrapper {
	border-color: var(--disabled);
}

input[type="color"]:disabled::-webkit-color-swatch { opacity: 0.25; }

label {
	white-space: nowrap;
	width: min-content;
}

label > :is(input, span, svg) { vertical-align: middle; }

.disabled label { color: var(--disabled); }

.app-button {
	background-color: var(--button);
	color: var(--button-text);
	padding: 6px 20px;
	border-radius: 5px;
	transition: background-color 250ms;
}

.app-button.small {
	width: 18px;
	height: 18px;
	padding: 0;
	border-radius: 3px;
}

.app-button:enabled:hover {
	background-color: var(--secondary);
}

.app-button:disabled {
	background-color: var(--button-disabled);
	color: var(--button-disabled-text);
}

.symbol {
	padding: 6px;
	font-family: 'Material Icons';
}

.panel-input {
	padding:  2px;
	border-radius: 3px;
	background-color: var(--background);
}

svg.toggle-switch-disabled { fill: var(--disabled); }

svg.toggle-switch-disabled > .exclude-disabled { fill: var(--primary); }

.toggle-switch-switch { fill: var(--background); }

.timecode {
	width: 82px;
	height: 18px;
	text-align: center;
}

.draggable,
.insert-last {
	position: relative;
	width: 100%;
}

.draggable:nth-last-of-type(n+2) { margin-bottom: 6px; }

.insert-last {
	display: block;
	height: 6px;
}

.insert::before {
	content: '';
	pointer-events: none;
	display: block;
	position: absolute;
	top: -9px;
	width: inherit;
	height: 12px;
	border: 5px solid;
	border-color: transparent var(--primary);
	background-color: var(--primary);
	background-clip: content-box;
}

.insert-last.insert::before { top: -3px; }

.monospace {
	font: 400 1em 'Cutive Mono', 'Courier New', Courier, monospace;
}

body:not(.accessible) :focus { outline: none; }

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb);
	border-radius: 5px;
}

::-webkit-scrollbar-button { display: none; }
