#root {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: min-content;
	grid-gap: 9px;
	padding: 9px;
}

form,
form > div > fieldset {
	display: contents;
}

form > div {
	border-radius: 5px;
	background: var(--background-alt-1);
	padding: 9px 12px;
}

form > div:nth-last-of-type(2) { margin-bottom: 55px; }

form > div > fieldset > div {	padding: 6px; }

legend { white-space: nowrap; }

fieldset fieldset > legend,
label {
	font-size: 14px;
}

label {
	display: block;
	margin-top: 4px;
	font-weight: 600;
}

:not(#save-prefs) > button,
input:matches([type=text], [type="number"], [type="color"]) {
	height: 24px;
	vertical-align: middle;
}

:not(#save-prefs) > button {
	width: 24px;
	padding: 0;
}

input:matches([type="text"], [type="number"]) {
	padding: 6px;
	border-radius: 3px;
}

input:matches([type="text"]:read-write, [type="number"]) {
	background-color: var(--background);
}

input[type="text"]:read-only {
	background-color: var(--background-alt-2);
}

#scratch-disk div {
	display: grid;
	grid-gap: 4px;
}

#scratch-disk label { grid-column: 1 / span 2; }

#save-locations { grid-column: 1 / span 3; }

#save-locations div {
	display: grid;
	grid-template-columns: repeat(3, 24px) 251px 24px 251px 24px 24px;
	grid-gap: 0 6px;
}

#save-locations div > :matches(div, span) { grid-column: 1 / span 8; }

#save-locations div > div {
	display: inherit;
	grid-template-columns: inherit;
	grid-gap: inherit;
}

#save-locations label { margin-bottom: 6px; }

#save-locations input[type="checkbox"] {
  display: flex;
  justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;
	margin: 0;
}

#default { grid-column: 1 / span 3; }

#folder { grid-column: 5 / span 4; }

div:only-of-type > input[name="directory"] {
	grid-column: span 3;
}

button[name="up"] { grid-column: 7; }
button[name="down"] { grid-column: 8; }

.input-option:first-of-type { margin-top: 10px; }

.input-option {
	display: block;
	margin-top: 5px;
}

.input-option > label {
	display: inline-block;
	min-width: 75px;
	margin-right: 6px;
}

.input-option > input:matches([type="number"], [type="color"]) {
	width: 58px;
}

.input-option > input[name="concurrent"] { width: 40px; }

input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }

input[type="color"]::-webkit-color-swatch {
	border: var(--main-border-style);
	border-radius: 3px;
}

#save-prefs {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px;
	border-radius: 0;
	background-color: var(--background);
}

#save-prefs > button { margin-right: 12px; }
