#root {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	padding: 0;
}

main {
	flex: 1;
	overflow-y: inherit;
}

.scratch-disks {
	display: inherit;
	row-gap: inherit;
}

.scratch-disks > label { width: 100%; }

button[name="clearScratchDisks"] { width: min-content; }

:not(.radio-set) > label {
	font-weight: 500;
	font-size: 14px;
}

form > :last-child { margin-bottom: 0; }

.directory-selector > input,
.aspect-ratio-markers-grid input,
.sortable-grid .app-button {
	height: 24px;
}

input[name="customFrameRate"] { width: 50px; }

.directory-selector { display: flex; }

.directory-selector > input {
	flex: 1;
	margin-left: 6px;
	background-color: var(--background-alt-2);
	font-weight: revert;
}

.sortable-grid,
.sortable-grid > .sortable-list > div {
	display: grid;
	column-gap: 6px;
}

.sortable-grid {
	position: relative;
	row-gap: 3px;
	grid-template-rows: min-content auto;
}

.sortable-grid::after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 67px;
}

.sortable-grid > .sortable-list {
	grid-column: 1 / -1;
	padding-top: 0;
}

.sortable-grid > .sortable-list > div {
	background-color: var(--background-alt-1);
}

.sortable-grid input[type="checkbox"] {
  display: flex;
  justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;
	margin: 0;
}

.sortable-grid .app-button {
	width: 24px;
	padding: 0;
}

:is(.aspect-ratio-markers-grid, .save-locations-grid) > label { font-size: 10px; }

.aspect-ratio-markers-grid,
.aspect-ratio-markers-grid > .sortable-list > div {
	grid-template-columns: repeat(3, 24px) 75px 62px 4px 62px repeat(3, 24px);
}

#ar-markers-label { grid-column: 4; }
#ar-markers-ratio { grid-column: 5 / span 3; }

.aspect-ratio-markers-grid input:nth-of-type(3n - 1) {
	text-align: right;
}

button[name="marker-up"] { grid-column: 8; }
button[name="marker-down"] { grid-column: 9; }

.aspect-ratio-markers-grid svg {
	grid-column: 10;
	fill: var(--secondary);
}

.save-locations-grid,
.save-locations-grid > .sortable-list > div {
	grid-template-columns: repeat(4, 24px) auto 287px repeat(3, 24px);
	column-gap: 6px;
}

#save-locations-default { grid-column: 2; }
#save-locations-label { grid-column: 5; }
#save-locations-folder { grid-column: 6; }

.save-locations-grid div:only-of-type > .directory-selector {
	grid-column: span 4;
}

button[name="directory-up"] { grid-column: 7; }
button[name="directory-down"] { grid-column: 8; }

.save-locations-grid svg {
	grid-column: 9;
	fill: var(--secondary);
}

footer {
	display: flex;
	column-gap: 12px;
	padding: 18px;
}

footer > button:last-of-type { margin-left: auto; }

.toast-bottom-right { bottom: 66px; }
