#root {
	overflow-y: hidden;
	display: grid;
	grid-template-rows: min-content auto 67px;
}

nav, footer {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: var(--background);
}

nav {
	display: flex;
	background-color: var(--background);
}

nav > a, form, footer { padding: 18px; }

nav > a {
	display: inline-block;
	flex: 1;
	font-weight: 500;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
}

nav > a:is(.active, :hover) { background-color: var(--background-alt-1); }

form {
	overflow-y: scroll;
	display: block;
	position: absolute;
	top: 55px;
	left: 0;
	bottom: 67px;
	width: 100%;
	height: calc(100% - 122px);
	background-color: var(--background-alt-1);
}

fieldset:nth-child(n + 2) { margin-top: 18px; }

legend, label {
	font-size: 14px;
	white-space: nowrap;
}

legend { margin-bottom: 3px; }

label { font-weight: 500; }

.input-option, label:not([for]) { display: block; }

.input-option > label { margin-right: 9px; }

.input-option { margin-bottom: 9px; }

form :is(.app-button, input[type="text"], input[type="number"], input[type="color"]) {
	height: 24px;
	vertical-align: middle;
}

form .app-button {
	width: 24px;
	padding: 0;
}

input[name="customFrameRate"] { width: 50px; }

.directory-selector > input {
	margin-left: 6px;
}

.directory-selector { display: flex; }

.directory-selector > input {
	flex: 1;
	background-color: var(--background-alt-2);
}

.aspect-ratio-markers-grid,
.save-locations-grid {
	display: grid;
	position: relative;
	grid-auto-rows: auto;
}

:is(.aspect-ratio-markers-grid, .save-locations-grid)::after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 67px;
}

:is(.aspect-ratio-markers-grid, .save-locations-grid) > div {
	display: inherit;
	grid-template-columns: inherit;
	grid-gap: inherit;
	background-color: var(--background-alt-1);
}

:is(.aspect-ratio-markers-grid, .save-locations-grid) input[type="checkbox"] {
  display: flex;
  justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;
	margin: 0;
}

.aspect-ratio-markers-grid {
	grid-template-columns: repeat(3, 24px) 75px 62px 4px 62px repeat(3, 24px);
	grid-gap: 3px;
}

#ar-markers-label,
#save-locations-label {
	grid-column: 4;
}

#ar-markers-ratio { grid-column: 5 / span 3; }
#save-locations-folder { grid-column: 5; }

.aspect-ratio-markers-grid input:nth-of-type(3n - 1) {
	text-align: right;
}

.aspect-ratio-markers-grid > div { grid-column: 1 / span 10; }

button[name="marker-up"] { grid-column: 8; }
button[name="marker-down"] { grid-column: 9; }

.aspect-ratio-markers-grid svg {
	grid-column: 10;
	fill: var(--secondary);
}

.save-locations-grid {
	grid-template-columns: repeat(3, 24px) auto 287px repeat(3, 24px);
	grid-gap: 0 6px;
}

.save-locations-grid > :is(div, span) { grid-column: 1 / span 8; }

.save-locations-grid label { margin-bottom: 6px; }

.save-locations-grid div:only-of-type > .directory-selector {
	grid-column: span 4;
}

button[name="directory-up"] { grid-column: 6; }
button[name="directory-down"] { grid-column: 7; }

.save-locations-grid svg {
	grid-column: 8;
	fill: var(--secondary);
}

footer {
	bottom: 0;
	height: 67px;
}

footer > button { margin-right: 12px; }
